<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Ninja Gold</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
  <body>
    <div class="container">
      <div class="row">
        <h3>Your Gold: {{gold}}</h3>
        <form action="/destroy_session" method="POST" class="reset">
          <input type="submit" name="submit" value="Reset" />
        </form>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="card">
            <div class="card-body">
                <h3>Farm</h3>
                <p>(earns 10-20 gold)</p>
                <form action="/process_money" method="POST">
                  <input type="hidden" name="action" value="farm" />
                  <div class="shadow-lg p-3 mb-5 bg-white rounded">
                    <input type="submit" name="submit" value="Find Gold!" />
                  </div>
                </form>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card">
            <div class="card-body">
                <h3>Cave</h3>
                <p>(earns 5-10 gold)</p>
                <form action="/process_money" method="POST">
                  <input type="hidden" name="action" value="cave" />
                  <div class="shadow-lg p-3 mb-5 bg-white rounded">
                    <input type="submit" name="submit" value="Find Gold!" />
                  </div>
                </form>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card">
            <div class="card-body">
                <h3>House</h3>
                <p>(earns 2-5 gold)</p>
                <form action="/process_money" method="POST">
                  <input type="hidden" name="action" value="house" />
                  <div class="shadow-lg p-3 mb-5 bg-white rounded">
                    <input type="submit" name="submit" value="Find Gold!" />
                  </div>
                </form>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="card">
            <div class="card-body">
                <h3>Casino</h3>
                <p>(earns/takes 0-50 gold)</p>
                <form action="/process_money" method="POST">
                  <input type="hidden" name="action" value="casino" />
                  <div class="shadow-lg p-3 mb-5 bg-white rounded">
                    <input type="submit" name="submit" value="Find Gold!" />
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <h3>Activities:</h3>
      </div>
      <div class="row">
        <div class="activities">

          {% if activities %}
          <ul type='none'>
            {% for activity in activities %}
            <li>{{ activity }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
